{% extends 'main.html' %}
{% block contain %}
    <div class="archive-singer">
        <div class="container-fluid">
            <div class="title">
                <h1>آرشیو پلی لیست ها</h1>
                <span><span></span></span>
            </div>
            <div class="row single-trrack">


                {% for adminplaylist in adminplaylists %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-5">
                    <div class="box-single-track">
                        <a href="{% url 'single-admin-playlist' adminplaylist.id %}"><img src="{{ adminplaylist.image.url }}" alt="" srcset=""></a>
                        <a href="" class="cate1">{{ adminplaylist.name }}</a>
                        <span class="time">{{ adminplaylist.create }}</span>
                        <a href="" class="cate">
                            {% for tag in adminplaylist.tags.all %}
                            {{ tag }}
                            {% endfor %}
                            </a>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>


    {% include 'pagination.html' with queryset=adminplaylists custom_range=custom_range %}

{% endblock contain %}