{% extends 'main.html' %}
{% block contain %}
    <div class="archive-singer">
        <div class="container-fluid">
            <div class="title">
                <h1>آرشیو حس‌و‌حال</h1>
                <span><span></span></span>
            </div>
            <div class="row single-trrack">


                {% for hesohal in hesohals %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-5">
                    <div class="box-single-track">
                        <a href="{% url 'single-hesohal' hesohal.id %}"><img src="{{ hesohal.hesohal_image.url }}" alt="" srcset=""></a>
                        <a href="" class="cate1">{{ hesohal.name }}</a>
                        <span class="time">{{ hesohal.create }}</span>
                        <a href="" class="cate">{% for tag in hesohal.tags.all %}
                            {{ tag }}
                            {% endfor %}
                            </a>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>


    {% include 'pagination.html' with queryset=hesohals custom_range=custom_range %}

{% endblock contain %}