{% extends 'main.html' %}









{% block contain %}
    <div class="archive-singer">
        <div class="container-fluid">
            <div class="title">
                <h1>آرشیو آلبوم</h1>
                <span><span></span></span>
            </div>
            <div class="row single-trrack">


                {% for album in albums %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-5">
                    <div class="box-single-track">
                        <a href="{% url 'single-album' album.id %}"><img src="{{ album.image.url }}" alt="" srcset=""></a>
                        <a href="" class="cate1">{{ album.name }}</a>
                        <span class="time">{{ album.tarikh_enteshar }}</span>
                        <a href="" class="cate">{% for tag in album.tags.all %}
                            {{ tag }}
                            {% endfor %}
                            </a>
                        <a href="" class="cate3">{{ album.singer }}</a>
                        <span class="comment">{{ album.vote_ratio }}<i class="fa fa-comment-alt"></i></span>
                        <span class="like">{{ album.total_vote }}<i class="fa fa-thumbs-up"></i></span>
                    </div>
                </div>

                {% endfor %}


            </div>
        </div>
    </div>


        {% include 'pagination.html' with queryset=albums custom_range=custom_range %}

{% endblock contain %}


