{% extends 'main.html' %}
{% block contain %}
<body>



    <div class="archive-singer">
        <div class="container-fluid">
            <div class="title">
                <h1>آرشیو حس و حال</h1>
                <span><span></span></span>
            </div>
            <div class="row">
            {% for hesohal in hesohals %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">

                    <div class="box-singer">
                        <a href="{% url 'singer' singer.id %}" class="image-singer">
                            <img src="{{ singer.singer_image.url }}" alt="">
                            <span>مشاهده آهنگ ها</span>
                        </a>
                        <a href="" class="name-singer">{{ singer.name }}</a>
                    </div>

                </div>
                {% endfor %}


            </div>
        </div>
    </div>

    {% include 'pagination.html' with queryset=singers custom_range=custom_range %}

{% endblock contain %}
