{% extends 'main.html' %}
{% load static %}
{% block contain %}


    <div class="page container-fluid row">
        <h3>پلی لیست آهنگ</h3>
        <div class="posting col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            {% for playlist in playlists %}
            <label for="">پلی لیست</label>
            <img src="{{ playlist.playlist_image.url }}" alt="image">
            <div class="des">
                <div class="par">
                    <div>{{ playlist.list_name }}</div>
                    <div>Mozhdeh Tarab</div>
                    <p>{{ playlist.create }}</p>
                    <p>New Age</p>

                </div>
                <!-- <div class="like">
                    <i class="fas fa-heart"></i>

                </div> -->

            </div>

            
            
        </div>
    {% endfor %}

        

    </div>
{% endblock contain %}
