{% extends 'main.html' %}

{% block contain %}



    <div class="single-singer">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-12 col-md-5 col-lg-3 col-xl-2">
                    <div class="singer-box">
                        <img src="{{ singer.singer_image.url }}" alt="">
                    </div>
                </div>
                <div class="des-singer col-12 col-md-7 col-lg-9 col-xl-10">
                    <h1>
                        {{ singer.name}}
                    </h1>
                    <span>تاریخ تولد: <span>{{ singer.birthday}}</span></span>
                </div>
            </div>

            <div class="list-album-singer single-trrack">
                <div class="row">


                    {% for song in songs %}
                        {% if song.singer.id == singer.id %}

                    <div class="col-6 col-md-4 col-lg-2 mb-5">
                        <div class="box-single-track">
                            <a href="{% url 'single-track' song.id %}"><img src="{{ song.image.url }}" alt="" srcset=""></a>
                            <a href="" class="cate1">{{ song.name }}</a>
                            <span class="time">تاریخ ساخت اهنگ تو مدل بخورد***</span>
                            <a href="" class="cate">
                                {% for tag in song.tags.all %}
                                    {{ tag }}
                                {% endfor %}

                            </a>
                            <a href="" class="cate3">{{ song.singer }}</a>
                            <span class="comment">22<i class="fa fa-comment-alt"></i></span>
                            <span class="like">15<i class="fa fa-thumbs-up"></i></span>
                        </div>
                    </div>
                        {% endif %}
               {% endfor %}

                </div>
            </div>
        </div>
    </div>



{% endblock contain %}