{% extends 'main.html' %}
{% load static %}
{% block contain %}




    <div class="panel-user">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 col-xl-3">
                    <div class="panel-u">
                        <div class="user-info">
                            <div class="user-des">
                                <img src="{{ profile.profile_image.url }}" alt="">
                                <div>
                                    <span>{{ profile.name }} {{ profile.familyName }}</span>
                                </div>
                            </div>
                            <hr>

                            <a href="{% url 'reset_password' %}">
                                <i class="fa fa-lock"></i> تغییر رمز
                            </a>
                            <span class="dasherd"></span>
                            <a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out-alt"></i> خروج از حساب
                            </a>


                        </div>

                        <ul>
                            <li class="active"><a href="{% url 'account' %}">پروفایل من</a></li>
                            <li><a href="panel - Copy.html">لیست علاقه مندی ها</a></li>
                            <li><a href="3">پلی لیست من</a></li>
                            <li><a href="4">خرید اشتراک</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-8 col-xl-9">
                    <div class="panel-des">
                        <div class="user-data">
                            <div class="title">
                                <h5>اطلاعات حساب کاربری</h5>
                                <a href="{% url 'edit-account' %}"><i class="fa fa-edit"></i>ویرایش اطلاعات</a>
                            </div>
                            <div class="row data">
                                <div class="col-lg-6">
                                    <p>نام : <span>{{ profile.name }}</span></p>
                                    <p>نام خانوادگی : <span>{{ profile.familyName }}</span></p>
                                    <p>ایمیل : <span>{{ profile.email }}</span></p>
                                </div>
                                <div class="col-lg-6">
                                    <p>اشتراک : <span>1 ماهه</span></p>
                                    <p>نام کاربری : <span>{{ profile.username }}</span></p>
                                    <p>تاریخ عضویت : <span>{{ profile.create }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="playlist-recent">
                            <div class="title">
                                <h5>پلی لیست های اخیر</h5>
                                <a href=""><i class="fa fa-list"></i>مشاهده همه</a>
                            </div>
                            <ul>
                                {% for playlist in playlists %}

                                <li>
                                    <p>{{ playlist.list_name}}</p><span>{{ playlist.create }}</span><a href="">نمایش ترک ها</a>><a href="{% url 'delete-playlist' playlist.id %}">پاک کردن پلی لیست</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock contain %}