{% extends 'main.html'%}


{% load static %}


{% block contain %}

<div class="form-site-back">
        <div class="sign-in">
            <h3>ورود</h3>
            <div class="e-mail">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                     <input class="form__field" id="formInput#text" type="text"
                           name="username" placeholder="یوزرنیم خود را وارد کنید"/>
                     <input id="formInput#password" type="password"
                           name="password" placeholder="......"/>

                    <div class="input-group mb-3 display-b">
                        <div class="g-recaptcha" data-sitekey="6LfF6wkeAAAAAPzDPEwRFHJiM-BBVzzKlP1Cc35f"></div>
                    </div>

                     <button type="submit">ورود</button>
                </form>
            </div>

            <div class="reset">
                <div class="sign-up">
                    <span>حساب کاربری ندارید؟</span>
                    <a href="{% url 'register' %}">ثبت نام کنید</a>
                </div>
                <div class="forgot-pass">
                    <a href="{% url 'reset_password' %}">کلمه عبور را فراموش کرده اید؟</a>
                </div>
            </div>
        </div>
    </div>




{% endblock contain %}