<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'font/iransans/iransans.css' %}">
    <title>musicj</title>
</head>
</head>

<body>

{% include 'navbar.html' %}


{% block contain %}




{% endblock contain %}





    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>

</body>

</html>