{% extends 'main.html' %}

{% block contain %}


    <div class="form-site-back">
        <div class="reset-password">
            <h3>بازیابی کلمه عبور</h3>
            <div class="e-mail">
                <form class="form" method="post">
                    {% csrf_token %}
                    <input class="form__field" id="email" type="email"
                           name="email" placeholder="ایمیل"/>
                    <button type="submit" class="btn-custom1">ارسال</button>
                </form>
            </div>

        </div>
    </div>





{% endblock contain %}