@font-face {
    font-family: "yekanbakh-light";
    src: url("YekanBakh-Light.eot");
    src: url("YekanBakh-Light.woff") format("woff"), url("YekanBakh-Light.ttf") format("ttf"), url("YekanBakh-Light.woff2") format("woff2"), url("YekanBakh-Light.otf") format("otf"), url("YekanBakh-Light.svg") format("svg");
}

@font-face {
    font-family: "yekanbakh-medium";
    src: url("/font/YekanBakh-Light/YekanBakh-Medium/YekanBakh-Medium.eot");
    src: url("YekanBakh-Medium/YekanBakh-Medium.woff") format("woff"), url("YekanBakh-Medium/YekanBakh-Medium.ttf") format("ttf"), url("YekanBakh-Medium/YekanBakh-Medium.woff2") format("woff2"), url("YekanBakh-Medium/YekanBakh-Medium.otf") format("otf"), url("YekanBakh-Medium/YekanBakh-Medium.svg") format("svg");
}